{% extends 'base.html' %} {% block login %}

<section class="vh-75">
  <div class="container-fluid h-custom mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/register" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label">Full Name</label>
            <input
              name="name"
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Email address</label>
            <input
              name="email"
              type="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Mobile number</label>
            <input
              name="mobile"
              type="number"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3"
              >Engineering domain (branch)
            </label>

            <select
              class="form-select"
              name="domain"
              aria-label="Default select example"
            >
              <option selected>Select . . .</option>
              <option value="Computer Science & Engineering">
                Computer Science & Engineering
              </option>
              <option value="Information Technology">
                Information Technology
              </option>
              <option value="Mechnical Engineering">
                Mechnical Engineering
              </option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics & Telecom Engineering">
                Electronics & Telecom Engineering
              </option>
              <option value="BCA">BCA</option>
              <option value="BCS">BCS</option>
            </select>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4"
              >Current educational year</label
            >
            <select
              class="form-select"
              name="year"
              aria-label="Default select example"
            >
              <option selected>Select . . .</option>
              <option value="First Year (B.E / B.Tech)">
                First Year (B.E / B.Tech)
              </option>
              <option value="Second Year (B.E / B.Tech)">
                Second Year (B.E / B.Tech)
              </option>
              <option value="Third Year (B.E / B.Tech)">
                Third Year (B.E / B.Tech)
              </option>
              <option value="Final Year (B.E / B.Tech)">
                Final Year (B.E / B.Tech)
              </option>
              <option value="First Year (BCA / BCS)">
                First Year (BCA / BCS)
              </option>
              <option value="Second Year (BCA / BCS)">
                Second Year (BCA / BCS)
              </option>
              <option value="Third Year (BCA / BCS)">
                Third Year (BCA / BCS)
              </option>
            </select>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label">Create Password</label>
            <input
              name="password"
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          <div class="form-outline mb-3">
            <label class="form-label">Confirm Password</label>
            <input
              name="confpassword"
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg w-100"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Sign Up
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Already have an account?
              <a href="/login" class="link-danger">Log In</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
