{% extends 'base.html' %}
<!-- search card start  -->
{% block search %}
<!-- search boxes for stack overflow, stack exchange and youtube -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Search your query on
          <span>
            <i class="fa-brands fa-youtube"></i>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Search to find solution on
            <span>
              <i class="fa-brands fa-youtube"></i>
            </span>
            YouTube
          </h5>
          <form action="/YTSearch" method="post">
            <div class="form-group">
              <input
                name="query"
                type="text"
                class="form-control mt-2 mb-2"
                placeholder="query . . . . ."
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Search solution
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Search your query on
          <span>
            <i class="fa-brands fa-stack-overflow"></i>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Search to find solution on
            <span>
              <i class="fa-brands fa-stack-overflow"></i>
            </span>
            Stack Overflow
          </h5>
          <form action="/StackOSearch" method="post">
            <div class="form-group">
              <input
                name="query"
                type="text"
                class="form-control mt-2 mb-2"
                placeholder="query . . . . ."
              />
            </div>
            <button type="submit" class="btn btn-success">
              Search solution
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Search your query on <i class="fa-brands fa-stack-exchange"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Search to find solution on
            <i class="fa-brands fa-stack-exchange"></i> Stack Exchange
          </h5>
          <form action="/StackESearch" method="post">
            <div class="form-group">
              <input
                name="query"
                type="text"
                class="form-control mt-2 mb-2"
                placeholder="query . . . . ."
              />
            </div>
            <button type="submit" class="btn btn-warning">
              Search solution
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Search your qure on <i class="fa-brands fa-github"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Search to find solution on
            <i class="fa-brands fa-github"></i> GitHub
          </h5>
          <form method="post" action="/GitSearch">
            <div class="form-group">
              <input
                name="query"
                type="text"
                class="form-control mt-2 mb-2"
                placeholder="query . . . . ."
              />
            </div>
            <button type="submit" class="btn btn-info">Search solution</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
