<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard/style.css') }}"
    />
  </head>
  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MGM's Coder Club</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/placements">Placements</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Data Structure Playlist
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.youtube.com/watch?v=OMcxQ3IY-qc&list=PLauivoElc3ggagradg8MfOZreCMmXMmJ-"
                    >DS & Algo by Luv</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.youtube.com/watch?v=WQoB2z67hvY&list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA"
                    >C++ DSA Love Babbar</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:bisen_rg@mgmcen.ac.in"
                >Contact TPO@MGMCEN</a
              >
            </li>
          </ul>
          <div class="d-flex">
            <a class="btn btn-warning" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- navbar  -->

    <div class="row user_access mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Announcements & Notice board</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <!-- here goes content -->
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Downloadable links</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <!-- here goes content -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mb-3">
      <h3>You can search your queries in below search box</h3>
    </div>
    <!-- search boxes for stack overflow, stack exchange and youtube -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Search your query on
              <span>
                <i class="fa-brands fa-youtube"></i>
              </span>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Search to find solution on
                <span>
                  <i class="fa-brands fa-youtube"></i>
                </span>
                YouTube
              </h5>
              <form action="/YTSearch" method="post">
                <div class="form-group">
                  <input
                    name="query"
                    type="text"
                    class="form-control mt-2 mb-2"
                    placeholder="query . . . . ."
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Search solution
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Search your query on
              <span>
                <i class="fa-brands fa-stack-overflow"></i>
              </span>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Search to find solution on
                <span>
                  <i class="fa-brands fa-stack-overflow"></i>
                </span>
                Stack Overflow
              </h5>
              <form action="/StackOSearch" method="post">
                <div class="form-group">
                  <input
                    name="query"
                    type="text"
                    class="form-control mt-2 mb-2"
                    placeholder="query . . . . ."
                  />
                </div>
                <button type="submit" class="btn btn-success">
                  Search solution
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Search your query on <i class="fa-brands fa-stack-exchange"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Search to find solution on
                <i class="fa-brands fa-stack-exchange"></i> Stack Exchange
              </h5>
              <form action="/StackESearch" method="post">
                <div class="form-group">
                  <input
                    name="query"
                    type="text"
                    class="form-control mt-2 mb-2"
                    placeholder="query . . . . ."
                  />
                </div>
                <button type="submit" class="btn btn-warning">
                  Search solution
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Search your qure on <i class="fa-brands fa-github"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Search to find solution on
                <i class="fa-brands fa-github"></i> GitHub
              </h5>
              <form method="post" action="/GitSearch">
                <div class="form-group">
                  <input
                    name="query"
                    type="text"
                    class="form-control mt-2 mb-2"
                    placeholder="query . . . . ."
                  />
                </div>
                <button type="submit" class="btn btn-info">
                  Search solution
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-3 mb-3">
      <h3>One of the best free resources for you</h3>
    </div>

    {% block videos %}{% endblock %}

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
